<% include header.html %>
<!-- Contact Page -->
<div class="container">

  <!--
    CONTACT ROW
   -->
  <div class="row">

    <div class="col-md-3" style="padding-top:20px;">
      <img src="/img/chest2.png" / class="img-responsive">
    </div>

    <div class="col-md-9">

      <h2 class="contacth2">Contact Story Time Island</h2>
     
      <p>
        The team at Storytimeisland would love to hear from you!
      </p>

      <p>
        Whether to tell us ideas for new stories or to help us track down those pesky little bugs - the island will be a better place because of your help!
      </p>

      <p>
        You can email on <a target="_blank" href="mailto:info@storytimeisland.com">info@storytimeisland.com</a> or contact via our facebook page <a target="_blank" href="https://www.facebook.com/Storytimeisland">here</a>. 
      </p>
    </div>
          
  </div>

  <!--
    FEEDBACK ROW
   -->
  <div class="row" style="margin-top:20px;">

    <div class="col-md-3" style="padding-top:20px;">
      <img src="/img/seagull.jpg" / class="img-responsive">
    </div>

    <div class="col-md-9">

      <h2 class="contacth2">Feedback &amp; Updates</h2>
     
      <a style="float:left;" href="https://www.facebook.com/Storytimeisland" class="social_facebook" title="">
        <img src="/img/Social/facebook.png" alt="Like us on Facebook" class="img-responsive">
      </a>
     
      <p class="text-left">You can also like the storytimeisland page on facebook for regular updates and feedback from the team.</p>
      <p class="text-right;">To like the page, please click <a target="_blank" href="https://www.facebook.com/Storytimeisland">here</a></p>

      <a style="float:left;" href="https://twitter.com/Storytimeisland" class="social_twitter tooltips" title=""><img src="/img/Social/bird.png" alt="Follow us on Twitter" class="img-responsive"></a>

        <p class="text-left">Follow us on Twitter for more updates and daily input from the team!</p>

              
        <p class="text-right;">To follow us, please click <a target="_blank" href="https://twitter.com/Storytimeisland">here</a></p>

    </div>
          
  </div>

</div>
<% include footer.html %>