<% include header.html %>
<div style="width:95%;">
	<div class="row">
		<div class="col-sm-2">

			<div class="book_row text-center">
				<a class="bookbutton" href="freddy.html">
					<img class="book_icon boxshadow" src="img/books/freddy.png" border=0 /> <br /><br />

					Full Book!
				</a>
			</div>

			<div class="book_row text-center">
				<a class="bookbutton" href="frank.html">
					<img class="book_icon boxshadow" src="img/books/frank.png" border=0 /> <br /><br />

					Sample
				</a>
			</div>

		</div>


		<!--
			this is the book display iframe - it is hidden by default
		 -->
		<div id="bookdisplay" class="col-sm-10">
			<div class="bookrender">
				<iframe src="/books/freddy/index.html" frameBorder="0" id="bookiframe" style="width:100%;height:100%;"></iframe>
			</div>
		</div>
	</div>



</div>

	

<% include footer.html %>