<% include header.html %>
<link rel="stylesheet" type="text/css" href="build/build.css">
<style>
  #book {
    width: 600px;
    height: 450px;
    background: #fff;
    z-index:1000;
    -moz-box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  }
  .page{
    display:none;

  }

  .bookpage{
    pointer-events: none;
    background-color:#fff;
    font-family: Times;
    font-size:12pt;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .pageturner-book .leafedge{
    background-color: #fff;
  }

  .pageturner-book .leaf .content{
    background-color: #fff;
  }

  img.buddy{
    margin-top:50px;
  }

</style>
<div class="container text-center">
  

  <h2 class="indexh2">Interactive Story Time for Children!</h2>
     
</div>

    <div class="container">

      <table border="0" width=100%>
        <tr>
          <td align=center valign=middle>
            <div class="book_row text-center">
              <a class="bookbutton" href="freddy.html">
                <img class="book_icon boxshadow" src="img/books/freddy.png" border=0 /> <br /><br />

                Full Book!
              </a>
            </div>

            <div>
              <a href="https://play.google.com/store/apps/details?id=com.storytimeisland.freddy">
                <img alt="Get it on Google Play"
                     src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
              </a>
          </div>
          </td>
          <td align=center valign=middle>


                
            <div id="book">
              <div class="page">
                <img src="assets/countryside.jpg" />
              </div>
              <div class="page">
                <img src="assets/fireengine.jpg" />
              </div>
              <div class="page">
                <img src="assets/sea.jpg" />
              </div>
            </div>
            
              


          </td>
        <td align=center valign=middle>

          <div class="book_row text-center">
            <a class="bookbutton" href="frank.html">
              <img class="book_icon boxshadow" src="img/books/frank.png" border=0 /> <br /><br />

              Sample
            </a>
          </div>

          <div>
              <a href="https://play.google.com/store/apps/details?id=com.storytimeisland.frank">
                <img alt="Get it on Google Play"
                     src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
              </a>
          </div>
        </td></tr>
        </table>

      </div>
        <div class="container" style="margin-top:80px;">
      <div id="carousel-example-generic" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
          <li data-target="#carousel-example-generic" data-slide-to="4"></li>
          <li data-target="#carousel-example-generic" data-slide-to="5"></li>
          <li data-target="#carousel-example-generic" data-slide-to="6"></li>
          <li data-target="#carousel-example-generic" data-slide-to="7"></li>
          <li data-target="#carousel-example-generic" data-slide-to="8"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

          <div class="item active">
            <div style="text-align:center;padding-bottom:20px;">
              <img src="/img/carousel/catdiary.jpg" alt="cat diary">
            </div>
          </div>

          <div class="item">
            <div style="text-align:center;padding-bottom:20px;">
            
                <img src="/img/carousel/kites.jpg" alt="kites">
           
            </div>
          </div>

          <div class="item">
            <div style="text-align:center;padding-bottom:20px;">
            
                <img src="/img/carousel/plane.jpg" alt="plane">
          
            </div>
          </div>

          <div class="item">
            <div style="text-align:center;padding-bottom:20px;">
           
                <img src="/img/carousel/whales.jpg" alt="whales">
          
            </div>
          </div>

          <div class="item">
            <div style="text-align:center;padding-bottom:20px;">
            
               <img src="/img/carousel/castle.jpg" alt="castle">
           
            </div>
          </div>

          <div class="item">
            <div style="text-align:center;padding-bottom:20px;">
            
                  <img src="/img/carousel/train.jpg" alt="train">
           
            </div>
          </div>


          <div class="item">
            <div style="text-align:center;padding-bottom:20px;">
             
                <img src="/img/carousel/horses.jpg" alt="horses">
            
            </div>
          </div>



          <div class="item">
            <div style="text-align:center;padding-bottom:20px;">
             
               <img src="/img/carousel/fence.jpg" alt="flowers">
            
            </div>
          </div>

          <div class="item">
            <div style="text-align:center;padding-bottom:20px;">
            
                <img src="/img/carousel/river.jpg" alt="river">
          
            </div>
          </div>






        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="icon-next"></span>
        </a>
      </div>
    </div>
    <div class="container">

      <div class="starter-template">
        <h1>Welcome to Storytime Island</h1>
        <p class="lead">It's been a really busy year on the island. The first organised kite festival was one of the highlights as well as the Littlesea carnival and Townville flower show. Recently the Townville Pumpkin Festival was a great success as well as fireworks on the beach at Riversea. We are now on the run up to Christmas and Buddy and the rest of the team would lke to wish you compliments of the season.<br> </p>
      </div>

    </div><!-- /.container -->

<div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div>
          <img src="/img/buddyxmas.jpg" alt="littlesea" class="img-responsive">
        </div>
      </div>
      <div class="col-lg-7">
         
          <p>Townville Christmas Fair will be held on Saturday 21st December, on the green and also in the church hall. Santa on his sleigh is due to visit and there will be rides, presents and lots of yummy food. Starting at 1pm, finishing at 5pm.<br><br>The Farmers Market Christmas Special will be on Christmas Eve so everyone can get their fresh produce for the Christmas meal. It will start at 8pm and close at 2pm. On the green in Townville as usual.<br><br>The Storytime Island Christmas Party will also be on Saturday 21st December in the Town Hall from 3 to 5pm. All children are welcome. There are special trains running from Littlesea, Little Hampton and Riversea, please contact Townville Station for details.
            </p>

      </div>
      
    </div>
        

      <!-- Example row of columns -->
    <div class="row">
      <div class="col-lg-4">
        <div class="paddedcolumn">
          <h2>CLASSES</h2>
          <p>Mrs Winter's classes at Little Hampton Village Hall will now be creating things for Christmas. Mincemeat from the last of the apples, Christmas cake, Christmas Pudding then Wreaths and Garlands. Every Thursday at 1.00 pm. </p>
        </div>
        <div class="paddedcolumn">
          <h2>LOST CAT</h2>
          <p>Mrs Peters of Littlesea is very grateful to all the people who looked for her cat, he is now safely back at home. he had gone for a ride on a fishing boat from the other side of the island! Luckily the fisherman saw the notice on this website and bought him all the way home in the boat. </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="paddedcolumn">
          <h2>SCARECROW</h2>
          <p>Fiona the Farmer sent in this photo of a scarecrow in her neighbours field, Farmer Ted. She thought if there was a competition for scarecrows this one should win it!</p>
        </div>
        <div class="row" align="center">
         
         <img src="/img/carousel/scarecrow.jpg" alt="scarcrow" class="img-responsive">
        </div>
      </div>
        
      <div class="col-lg-4">
           <img src="/img/carousel/museumposter.jpg" alt="Castle Museum" class="img-responsive">
         
      </div>
    </div>
    <div class="row" align="center">
      <div class="col-lg-12">
           <img src="/img/carousel/cows.jpg" alt="cows" class="img-responsive">
       
      </div>
    </div>



</div>

<div id="faketouch"></div>

<% include footer.html %>
<script src="build/build.js"></script>


  <script>

    $(function(){
      var Buddy = require('buddy');
      var book = new Buddy({
        selector:'#book',
        page_selector:'.page',
        touch_selector:'#faketouch'
      });

      var counter = 0;
      var direction = 1;

      function get_direction(){
        var nextcounter = counter + direction;
        if(nextcounter<0 || nextcounter>2){
          direction *= -1;
        }
        counter = counter + direction;
        return direction;
      }

      function move_page(){
        book.animate_direction(get_direction());
      }

      setInterval(move_page, 3000);

      $('#carousel-example-generic').carousel({
        interval: 5000
      })

      
    })

  </script>